# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
venv/
.env
.envrc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# Logs
*.log

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db

# Chrome extension build outputs
*.zip

# Other temporary files
*.tmp
#Audio Uploads
backend/uploads/
